// Nav links
//----------------------------------------

.nav-link {
  transition: all 0.1s ease-out;
  margin-right: 12px;
  padding: 12px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: $off-white;

  &:hover {
    color: $light-primary-color;
  }
}
