@keyframes fadein_up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        -moz-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }
}