@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
