// Display
//----------------------------------------

.d3 {
  font-size: 56px;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.d4 {
  font-size: 48px;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

// Body
//----------------------------------------

.b1 {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
