// Colors
//----------------------------------------
$primary-color: #6F64C4;
$light-primary-color: #8980ce;
$dark-primary-color: #272157;
$black: #1D1C21;
$white: #fff;

// Vertical Rhythm and Sizing
//----------------------------------------
$content-max-width: 1240px;