// Colors
//----------------------------------------
$primary-color: #562fee;
$light-primary-color: #8980ce;
$dark-primary-color: #272157;
$black: #141414;
$white: #fff;
$off-white: #eee;

// Sizing & Grids
//----------------------------------------
$content-max-width: 1240px;
