@import "src/styles/index.scss";

.community-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: auto;

  .community-internal {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1080px;

    .community-headline {
      margin-bottom: 24px;
      padding-top: 160px;
      text-align: center;
      color: $off-white;
    }

    .community-description {
      margin-top: 12px;
      text-align: center;
      color: $off-white;
    }

    .community-buttons {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      padding-bottom: 160px;
    }
  }
}
