@import "src/styles/index.scss";

.display-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  .display-video-wrapper {
    position: relative;

    .display-video {
      width: 100%;
    }

    .display-content {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: $content-max-width;
      padding: 160px 480px;

      .display-headline {
        margin: 0 auto;
        text-align: center;
        text-shadow: 0 0 10px rgba(137, 128, 206, 0.8);
        text-transform: uppercase;
        color: $off-white;
      }

      .display-description {
        margin-top: 24px;
        text-align: center;
        color: $off-white;
      }
    }
  }
}
