@import 'src/styles/index.scss';

.header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 24px;
    width: 100%;
    z-index: 100;

    .container{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        max-width: $content-max-width;
        margin: 0 auto;

        .header-logo {
            flex-grow: 1;
            max-width: 240px;

            img {
                width: 100%;
            }
        }

        .nav-links {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            font-size: 18px;

            a {
                margin-left: 8px;
                padding: 8px;
                color: $white;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                transition: all .1s ease-out;
                text-decoration: none;

                &:hover {
                    color: $light-primary-color;
                }
            }
        }
    }
}