@import "src/styles/index.scss";

.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 24px;

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: $content-max-width;

    .nav-logo {
      flex-grow: 1;
      max-width: 240px;

      img {
          width: 100%;
      }
    }

    .nav-links-container {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
