@import 'src/styles/index.scss';

.header {
    padding: 24px;
    background-color: $dark-primary-color;

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;

        max-width: 1080px;
        margin: 0 auto;

        .header-logo {
            flex-grow: 1;
            max-height: 88px;
        }

        .nav-links {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            font-size: 18px;

            a {
                margin-left: 8px;
                padding: 8px;
                color: $white;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                transition: all .1s ease-out;
                text-decoration: none;
            }
        }
    }
}